@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.logo{
    align-items: center;
    right:auto;
}
.signup{
    background-color: bisque;
    font-weight: lighter;
    font-size: large;
    font-style: italic;
    margin: auto;
    padding: auto;

}
.signup input:hover{
    background-color: aquamarine;
}
.signup submit{
    background-color: black;
}
