/* Add this code at the end of your CSS */
.header {
    border-bottom: 1px solid #4F4F4F;
    text-align: center;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .signup {
    background-color: bisque;
    font-weight: lighter;
    font-size: large;
    font-style: italic;
    margin: auto;
    padding: auto;
    max-width: 600px; /* Adjust the max-width according to your design */
    width: 90%; /* Adjust the width according to your design */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .signup input:hover {
    background-color: aquamarine;
  }
  
  .signup input[type="submit"] {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  footer {
    margin-top: 20px;
  }
  
  /* Additional CSS for responsiveness */
  @media screen and (max-width: 600px) {
    /* Adjust the max-width according to your design */
    .signup {
      font-size: medium;
    }
  }
  
