@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
body {
  overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 767px) {
  video {
    width: 100%;
    height: auto;
  }
}
.content h1 {
    color: #4F4F4F;
    font-style: italic;
    font-weight:lighter;
  }
  
  .content h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    color: #454545;
  }
  .content button{
    font-weight: bold;
  }
  .joinnow{
    background-image: url(/image/pexels-miguel-á-padriñán-255379.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    border-color: #6674CC;
    margin: 25px;
    background-blend-mode:color-burn;
        
}
.blockquote{
    font-size: larger;
    font-style: italic;
    font-weight:500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.highlight{
  color: #6674CC;
}
span{
  font-weight: bold;
}
.container{
  margin:20px;
}
.oversigth{
 background-color: rgb(50, 57, 80);
 color: white;
}
.yellow{
  color: yellow;
}
.roadmap{
  background-color: rgb(50,57,80);
}
#myimg {
  display: block;
  margin: 5%;
  border-radius: 100%;
}
.taught{
  background-color: #f8f8fd;
}
.faq strong{
  font-weight: 400;
}
.faq{
  padding: 4%;
}
.faq ul{
  background-color: bisque;
}
.content-container video {
  max-width: 100%;
  height: auto;
}
#img1{
  height:50%;
  width: auto;
}
#img2{
  height: 50%;
  width: auto;
  position: relative;
  right:2.27%
}
@media (min-width: 767px) {
   video {
    width: 100%;
    height: auto;
  }
  .roadimg{
    max-width: 100%;
    height: auto;
  }
}
details{
  font-size: 1.4rem;
}

summary {
  font-weight: 300;
  padding: .5em 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after{
  content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

details[open] summary:after{
  content: "\00D7";
}

details[open] div{
  padding: .5em 1em;
}
@media (min-width: 768px) and (max-width: 990.9px){
.container{
    flex-basis: 49.2%;}
}
